/*Stylesheet */
*,html{
	padding: 0;
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	background-image: url("images/background.jpg");
}
header{
	/*background-color: black; */
	color: white;
	background: linear-gradient(#38610B,#3ADF00,#122A0A);
	height: 100px;
}
.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
	padding: 20px 10px;
}
footer{
	position: fixed;
	bottom: 0;
	font-family: helvetica;
	height: 50px;
	background: linear-gradient(#38610B,#3ADF00,#122A0A);
	width: 100%;
}
main{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid #F7819F;
	box-shadow: 2px 2px 2px #F7819F;
	max-width: 1050px; 
}
h1{
	color: #210B61;
	text-align: center;
}
.main_title{
	margin: 40px 0px;
}
.my_form{
	text-align: center;
	margin: 10px;
	padding: 10px;
	color: #38610B;
	font-family: arial;
	font-size: 24px;
}
input[type="text"]{
	width: 80%;
	border: 1px solid gray;
	box-shadow: 2px 2px 2px gray;
	border-radius: 8px;
	margin: 10px 0;
	padding: 10px 0;
	font-size: 18px;
}
input[type="submit"]{
	width: 30%;
	border: 1px solid gray;
	box-shadow: 2px 2px 2px gray;
	border-radius: 8px;
	margin: 10px 0;
	padding: 10px 0;
	font-size: 18px;
}
.gallery{
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;	
}
.gallery img{
	width: 22%;
	margin: 10px;
	/*height: 200px;*/
	border: 3px solid white;
	box-shadow: 3px 3px 3px gray;
}